main {
  margin: 2% 0;
  height: 100%;
}

ul.deck-controls {
  padding: 0;
  margin-top: 1%;
  list-style-type: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

ul.deck-controls li {
  display: inline-block;
  padding: 5px;
}

h1 {
  text-align: center;
}

.card {
  height: 250px;
  background-color: #eee;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1%;
}

.back {
  display: none;
}
